<nav class="main-menu">
  <ul>
    <li class="has-subnav">
      <a href="#">
        <%= icon('search') %>
        <%= link_to "search", animals_path, class: "nav-text" %>
        <!-- <span class="nav-text">search</span> -->
      </a>
    </li>

    <li class="has-subnav">
      <a href="#">
        <%= icon('plus') %>
        <%= link_to "create", new_animal_path, class: "nav-text" %>
        <!-- <span class="nav-text">create</span> -->
      </a>
    </li>

    <li class="has-subnav">
      <a href="#">
        <%= icon('user-circle-o') %>
        <%= link_to "profile", root_path, class: "nav-text" %>
        <!-- <span class="nav-text">profile</span> -->
      </a>
    </li>

  <li>
    <a href="#">
      <%= icon('comment-o') %>
      <%= link_to "search", root_path, class: "nav-text" %>
      <!-- <span class="nav-text">history</span> -->
    </a>
  </li>
</ul>
</nav>
