<div class="animals">
   <%= render "shared/top_navbar" %>

  <div class="container">
    <div class="row js-animals">
      <div class="animals__column col-xs-1 col-xs-offset-1">
        <%= image_tag("test/lion.png") %>
      </div>
      <div class="animals__column col-xs-1">
        <%= image_tag("test/seahorse.png") %>
      </div>
      <div class="animals__column col-xs-1">
        <%= image_tag("test/impala.png") %>
      </div>
      <div class="animals__column col-xs-1">
        <%= image_tag("test/giraffe.png") %>
      </div>
      <div class="animals__column col-xs-1">
        <%= image_tag("test/owl.png") %>
        <%= image_tag("test/nightingale.png") %>
      </div>
      <div class="animals__column col-xs-1">
        <%= image_tag("test/chimp.png") %>
      </div>
      <div class="animals__column col-xs-1">
        <%= image_tag("test/ss.png") %>
      </div>
      <div class="animals__column col-xs-1">
        <%= image_tag("test/big-beaked-whale.png") %>
      </div>
      <div class="animals__column col-xs-1">
        <%= image_tag("test/gharial.png") %>
      </div>
      <div class="animals__column col-xs-1">
        <%= image_tag("test/koala.png") %>
      </div>
      <div class="animals__column col-xs-1">
        <%= image_tag("test/alpaca.png") %>
      </div>
      <div class="animals__column col-xs-1">
        <%= image_tag("test/banteng.png") %>
      </div>
      <div class="animals__column col-xs-1">
        <%= image_tag("test/bird.png") %>
       </div>
      <div class="animals__column col-xs-1 b0">
        <%= image_tag("test/polarbear.png") %>
      </div>
    </div>
  </div>
  <div class="animals__progress">
    <div class="progress">
      <div class="progress-bar" role="progressbar" aria-valuenow="60" aria-valuemin="0" aria-valuemax="100" style="width: 60%;">
      </div>
    </div>
  </div>
</div>

